<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VKHotkeys.Properties.profile3" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="VKHotkeys.Properties.profile2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="VKHotkeys.Properties.profile1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="VKHotkeys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <VKHotkeys.Properties.profile3>
  
    </VKHotkeys.Properties.profile3>
    <VKHotkeys.Properties.profile2>
    
    </VKHotkeys.Properties.profile2>
    <VKHotkeys.Properties.profile1>
    
    </VKHotkeys.Properties.profile1>
    <VKHotkeys.Properties.Settings>
      <setting name="last_profile" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="hk_0_global_lock_unlock" serializeAs="String">
        <value />
      </setting>
      <setting name="gen_minimize_totray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="gen_close_totray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unload_on_remote" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="info_port" serializeAs="String">
        <value>1580</value>
      </setting>
    </VKHotkeys.Properties.Settings>
  </userSettings>
</configuration>
